.wrapper {
    height: calc(100vh - var(--default-layout-header-height)); /* Mỗi title chiếm đúng 1 màn hình */
    scroll-snap-align: start; /* Snap về phía đầu phần tử */
    scroll-snap-stop: always; /* Dừng cứng lại ở vị trí snap */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 16px 170px 16px 64px;
    // background-color: red;
    position: relative;
}
.video-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: calc(100vh - var(--default-layout-header-height) - 1.5rem);
}

.video {
    width: 100%;
    height: calc(100vh - var(--default-layout-header-height) - 1.5rem);
    object-fit: cover;
    border-radius: 16px;
}

.status-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    color: white;
    pointer-events: none;
    opacity: 0.9;
    animation: fadeOut 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.3);
    }
}

.controls {
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    height: 48px;
    padding: 6px 0;
}

.volume-control {
    display: flex;
    align-items: center;
}

.volume-btn {
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    top: 2px;
}

.volumn-icon {
    width: 24px;
    height: 24px;
}

.wrapper-input {
    width: 100px;
    height: 24px;
    display: flex;
    align-items: center;
    background: rgba(22, 24, 35, 0.34);
    border-radius: 32px;
    margin: 7px 8px 7px 0px;

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}

.volume-slider {
    appearance: none;
    width: 80%;
    height: 2px;
    background-color: rgb(204, 204, 204);
    cursor: pointer;
    margin: auto;
    border-radius: 16px;
    outline: none;
}

.menu-btn {
    background-color: transparent;
    color: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    &:hover {
        background-color: var(--btn-hover-color);
        border-radius: 50%;
    }
}

.menu-icon {
    width: 24px;
    height: 24px;
}

.description {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 12px 16px;
    overflow: hidden;
    border-bottom-right-radius: 18px;
    border-bottom-left-radius: 18px;
}

.wrapper-nickname {
    line-height: 1.2rem;
    margin: 8px 0;
}

.nickname {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.8rem;
    display: inline-block;
    color: var(--text-white-color);
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.check {
    width: 14px;
    height: 14px;
    margin-left: 8px;
}

.title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.title-des {
    font-size: 1.6rem;
    line-height: 1.6rem;
    color: var(--text-white-color);
}

.title.title-more {
    display: block;
    .toggle-btn {
        width: 100%;
        display: flex;
        justify-content: end;
        padding-top: 10px;
    }
}

.toggle-btn {
    cursor: pointer;
    color: var(--text-white-color);
    background-color: transparent;
}

.music {
    color: var(--text-white-color);
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
}

.music-icon {
    width: 1.4rem;
    height: 1.4rem;
}

.music-name {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.4rem;
    padding-left: 6px;
    font-weight: 500;
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.progress-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    overflow: hidden;
    left: 0;
    right: 0;
    &:hover {
        cursor: pointer;
        height: 8px;
        transition: height 0.2s linear;
    }

    &:hover .progress-bar-inner {
        height: 8px;
    }
}

.progress-bar-inner {
    height: 5px;
    background-color: var(--primary-color);
}

.video-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 14%;
    bottom: 10px;
}

.video-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.avatar-icon {
    position: absolute;
    bottom: -36%;
    left: 30%;
}

.icon-follow,
.icon-unFollow {
    width: 20px;
    height: 20px;
}

.icon-follow {
    color: var(--primary-color);
    cursor: pointer;
    background-color: var(--white);
    padding: 2px;
    border-radius: 50%;
}

.icon-unFollow {
    color: var(--white);
    background-color: var(--primary-color);
    cursor: pointer;
    padding: 2px;
    border-radius: 50%;
}

.info-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #1618230f;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px 0;
    cursor: pointer;
}

.icon-like {
    width: 24px;
    height: 24px;
}

.icon-like.liked {
    color: var(--primary-color);
}

.icon-comment {
    width: 22px;
    height: 22px;
}

.icon-bookmark {
    width: 24px;
    height: 24px;
}

.icon-bookmark.bookmarked {
    color: #face15;
}

.icon-share {
    position: relative;
    width: 26px;
    height: 26px;
    left: 2px;
    bottom: -2px;
}

.info-count {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #161823bf;
    text-align: center;
    font-weight: 600;
}
