$fontWidth: 500;

// menu List
.menu-list {
    width: 244px;
    margin-top: 10px;
    .menu-item {
        margin-left: 0;
    }
    a {
        font-weight: $fontWidth;
    }
}

.menu-item {
    width: 100%;
    font-size: 1.4rem;
    font-weight: $fontWidth;
    padding: 12px 16px;
    color: var(--text-color);
    justify-content: flex-start;
    line-height: 1.8rem;

    &.separate {
        border-top: 1px solid rgba(22, 24, 35, 0.12);
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.custom-popper {
    padding-bottom: 8px;
}

.menu-body {
    overflow-y: auto;
}

// Header Menu
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
    flex-shrink: 0;
}

.back-btn {
    position: absolute;
    top: 2px;
    width: 50px;
    height: 100%;
    background-color: transparent;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: $fontWidth;
}
