/* Mỗi card video */
.video-card {
    display: flex;
    flex-direction: column;
    position: relative;
    /* background: #000; */
    /* border-radius: 12px; */
    overflow: hidden;
}

/* video luôn giữ đúng tỉ lệ (16:9, 4:3 hoặc 9:16) */
.video-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 9 / 16; /* mặc định dọc (TikTok style) */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    border-radius: 8px;
}

// /* nếu video ngang => tự fit */
// .video[orientation='landscape'] {
//     aspect-ratio: 16 / 9;
// }

/* video chiếm hết khung */
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

/* controls nổi phía trên */
.control {
    position: absolute;
    bottom: 8px;
    right: 8px;
    left: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    color: white;
}

.like-count {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.info-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
}

.ava {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.nickname {
    font-size: 14px;
    font-weight: 600;
    color: #333;
}
