// global styles
$borderRadius: 92px;
$searchHeight: 46px;
$searchTopSpacer: 9px;
$widthSearchBtn: 52px;

.wrapper {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 10px 0px;
    justify-content: center;
    height: var(--default-layout-header-height);
    width: 100%;
}

.content {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--default-layout-horizontal-spacer);
}

.logo {
    &:hover {
        cursor: pointer;
    }
}

// actions
.actions {
    display: flex;
    align-items: center;
}

// More button
.more-btn {
    background-color: transparent;
    font-size: 2rem;
    padding: 4px 10px;
    margin-left: 20px;
    &:hover {
        cursor: pointer;
    }
}

.action-btn {
    position: relative;
    top: 4px;
    padding: 12px;
    font-size: 2rem;
    background-color: transparent;
    color: #161823;
    cursor: pointer;
}

.badge {
    position: absolute;
    top: 3px;
    right: 0px;
    padding: 0px 6px;
    height: 2rem;
    line-height: 2rem;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--white);
    font-family: 'ProximaNova', sans-serif;
    background-color: var(--primary-color);
}

.user-ava {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-left: 12px;
    object-fit: cover;
    cursor: pointer;
}
